body{
    background:rgb(116, 196, 232);
    margin:0;
    text-align: center;
    
    ;
}
#note{
    width:250px;
    height:250px;
    resize: none;
    background:#F3F19D;
    padding:15px;
    border:none;
    position: absolute;
    bottom:50px;
    left:50px;
    font-family:sans-serif;
   }
   .bookmarks{
    padding:30px;
 }
 .bookmarks a{
    font-size:42px;
    margin:0 20px;
    color:#ffecc3;
    transition:.15s;
    vertical-align: top;
 }
 .bookmarks a:hover{
    font-size:72px;
    position:relative;
 }
 